html{
    /* background-image: url("https://images.unsplash.com/photo-1584254297753-b491cccf8a27?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80");
    background-size: cover; */
    text-align:center;
    font-size:10px;
}
body{
    font-size:2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock{
    width: 30rem;
    height: 30rem;
    border: 17px solid #000;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;

}
.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}
.hand{
    background-color:black;
    width:50%;
    height:6px;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform:rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    
}